/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// MAIN /// */
/* //////////////////////////////////////////////////////////////////////////////// */
main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

main section {
	position: relative;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}