/* //////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// VARIABLES /// */
/* //////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////// COLORS /// */

$cyan: #00C9FF;
$blue: #030014;
$yellow: #F2FF00;
$green: #29A434;
$red: #C72213;
$grey: #979797;

/* //////////////////////////////////////////////////////////////// BREAKPOINTS /// */

$breakpoint1: 1680px;
$breakpoint2: 1280px;
$breakpoint3: 1080px;
$breakpoint4: 960px;
$breakpoint5: 720px;


