/* //////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// LOGO /// */
/* //////////////////////////////////////////////////////////////////////////////// */

a.logo {
	display: block;
	width: 150px;
	height: 97px;
	background-image: url(../gfx/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
}

@media (max-width: $breakpoint3) {
	a.logo {
		width: 100px;
		height: 65px;
	}
}