/* //////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// VARIABLES /// */
/* //////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////// COLORS /// */

$cyan: #00C9FF;
$blue: #030014;
$yellow: #F2FF00;
$green: #29A434;
$red: #C72213;


