/*------------------------------------------------------------------------------
-----------------------------------------------------------------------IMPORT---
------------------------------------------------------------------------------*/
// @import 'reset';

// @import 'function';

// @import 'font';

// @import 'var';


/*------------------------------------------------------------------------------
-----------------------------------------------------------------------GLOBAL---
------------------------------------------------------------------------------*/
*, 
*:before, 
*:after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}


body {
	background: white;
	color: black;
	// font-family: $font;
	height: 100%;
	display: flex;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

a {
	cursor: pointer;
	text-decoration: none;
	&:hover {
		color: blue;
	}
	&:visited {
		text-decoration: none;
		decoration: none;
		color: black;
	}
}

