/* //////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// GLOBAL /// */
/* //////////////////////////////////////////////////////////////////////////////// */

@import 'global/reset';

@import 'global/function';

@import 'global/font';

@import 'global/var';


/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// COMPONENT /// */
/* //////////////////////////////////////////////////////////////////////////////// */
@import 'component/button';
@import 'component/card';
@import 'component/deck';
@import 'component/logo';
@import 'component/media';
@import 'component/nav';
@import 'component/text';



/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// STRUCTURE /// */
/* //////////////////////////////////////////////////////////////////////////////// */

@import 'structure/document';
@import 'structure/header';
@import 'structure/main';
@import 'structure/footer';


/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// MODULE /// */
/* //////////////////////////////////////////////////////////////////////////////// */

@import 'module/intro';
@import 'module/ksp';
@import 'module/news';
@import 'module/cta';
@import 'module/solutions';

/* //////////////////////////////////////////////////////////////////// GRID GUIDE /// */
div.grid {
	display: flex;
	display: none;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	
	background-color: plum;
}

div.grid > div {
	display: block;
	width: 83px;
	height: 100px;
	margin-right: 40px;
	
	background-color: aliceblue;
}
div.grid div:last-child {
	margin-right: unset;
}



